$$Pandas数据处理$$

## Series

### 创建series

In [ ]:
# 通过列表
import pandas as pd
lst = [0, 3, 2, 1]
idx = ['a', 'b', 'c', 'd']
print('创建的Series为：')
df1 = pd.Series(data=lst, index=idx, name='list')
print(df1)

创建的Series为：
a    0
b    3
c    2
d    1
Name: list, dtype: int64

In [ ]:
# 通过字典
import pandas as pd
dict = {'a': 0, 'b': 6, 'c':8}
letter = ['a', 'b', 'c', 'e']
print('创建的Series为:')
df2 = pd.Series(dict, letter, name='list')
print(df2)

创建的Series为：
a    0.0
b    6.0
c    8.0
e    NaN
Name: list, dtype: float64

### 属性

In [ ]:
df1.values # ndarry格式返回所有元素

array([0, 3, 2, 1], dtype=int64)

In [ ]:
df1.shape # 返回形状

(4,)

In [ ]:
df1.ndim # 返回维度

1

In [ ]:
df1.size # 返回对象个数

4

In [15]:
df1.T.shape

(4,)

### 操作

In [16]:
# 更新
print(df1)
df1[0]=100
print(df1)

a    0
b    3
c    2
d    1
Name: list, dtype: int64
a    100
b      3
c      2
d      1
Name: list, dtype: int64

C:\Users\林肖阳\AppData\Local\Temp\ipykernel_30324\3023596547.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df1[0]=100

In [18]:
# 追加
df3 = pd.concat([df1, df2])
print(df3)

a    100.0
b      3.0
c      2.0
d      1.0
a      0.0
b      6.0
c      8.0
e      NaN
Name: list, dtype: float64

In [22]:
# 删除
if 'e' in df3.index:
	df3.drop('e', inplace=True)
df3

a    100.0
b      3.0
c      2.0
d      1.0
a      0.0
b      6.0
c      8.0
Name: list, dtype: float64

## Dataframe

In [35]:
import pandas as pd  
import numpy as np  

# 创建一个包含缺失值的字典  
data = {  
    '姓名': ['张三', '李四', '王五', '赵六'],  
    '年龄': [25, 30, None, 28],  # 使用 None 表示缺失值  
    '城市': ['北京', '上海', '广州', '深圳']  
}  

# 创建 DataFrame  
df = pd.DataFrame(data)  

# 设置索引名称  
df.index.name = 'index'  
# df.fillna(value={'年龄': df['年龄'].mean()}, inplace=True)
df.dropna(how='any', inplace=True)

print(df)

       姓名    年龄  城市
index
0      张三  25.0  北京
1      李四  30.0  上海
3      赵六  28.0  深圳

In [36]:
import pandas as pd

# 创建一个简单的 DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

# 创建 DataFrame
df = pd.DataFrame(data)

# 保存为 CSV 文件
df.to_csv('employees.csv', index=False)

print("DataFrame 已保存为 employees.csv")

DataFrame 已保存为 employees.csv

In [37]:
# 读取 CSV 文件
df = pd.read_csv('employees.csv')

print("读取的 DataFrame：")
print(df)

读取的 DataFrame：
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

In [ ]:
# 查看前几行数据
print("\n查看前几行数据:")
print(df.head())

# 查看后几行数据
print("\n查看后几行数据:")
print(df.tail())

# 查看数据的简要信息
print("\n查看数据的简要信息:")
print(df.info())

# 查看数据的统计信息
print("\n查看数据的统计信息:")
print(df.describe())

查看前几行数据：
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

查看后几行数据：
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

查看数据的简要信息：
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None

查看数据的统计信息：
             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

In [39]:
# 按列名选择
print("\n选择单列 'Name'：")
print(df['Name'])

print("\n选择多列 ['Name', 'Age']：")
print(df[['Name', 'Age']])

# 按行号选择
print("\n按行号选择第 1 行：")
print(df.iloc[0])

print("\n按行号选择第 1 行到第 3 行：")
print(df.iloc[1:3])

# 按条件选择
print("\n选择年龄大于 30 的行：")
print(df[df['Age'] > 30])

选择单列 'Name'：
0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object

选择多列 ['Name', 'Age']：
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

按行号选择第 1 行：
Name         Alice
Age             25
City      New York
Salary       50000
Name: 0, dtype: object

按行号选择第 1 行到第 3 行：
      Name  Age         City  Salary
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

选择年龄大于 30 的行：
      Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000
4      Eve   45  Phoenix   90000

In [40]:
# 添加新列
df['Bonus'] = df['Salary'] * 0.1
print("\n添加新列 'Bonus'：")
print(df)

添加新列 'Bonus'：
      Name  Age         City  Salary   Bonus
0    Alice   25     New York   50000  5000.0
1      Bob   30  Los Angeles   60000  6000.0
2  Charlie   35      Chicago   70000  7000.0
3    David   40      Houston   80000  8000.0
4      Eve   45      Phoenix   90000  9000.0

In [41]:
# 删除列
df = df.drop(columns=['Bonus'])
print("\n删除列 'Bonus'：")
print(df)

删除列 'Bonus'：
      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

In [42]:
# 修改数据
df.loc[0, 'Age'] = 26
print("\n修改第 1 行的 'Age' 为 26：")
print(df)

修改第 1 行的 'Age' 为 26：
      Name  Age         City  Salary
0    Alice   26     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

In [44]:
# 添加重复行
df = pd.concat([df, df.iloc[[0]]], ignore_index=True)
print("\n添加重复行后：")
print(df)

# 删除重复行
df = df.drop_duplicates()
print("\n删除重复行后：")
print(df)

添加重复行后：
      Name  Age         City  Salary
0    Alice   26     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000
5    Alice   26     New York   50000

删除重复行后：
      Name  Age         City  Salary
0    Alice   26     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000
4      Eve   45      Phoenix   90000

In [45]:
# 添加缺失值
df.loc[2, 'Salary'] = None
print("\n添加缺失值后：")
print(df)

# 填充缺失值
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
print("\n填充缺失值后：")
print(df)

# 删除缺失值
df = df.dropna()
print("\n删除缺失值后：")
print(df)

添加缺失值后：
      Name  Age         City   Salary
0    Alice   26     New York  50000.0
1      Bob   30  Los Angeles  60000.0
2  Charlie   35      Chicago      NaN
3    David   40      Houston  80000.0
4      Eve   45      Phoenix  90000.0

填充缺失值后：
      Name  Age         City   Salary
0    Alice   26     New York  50000.0
1      Bob   30  Los Angeles  60000.0
2  Charlie   35      Chicago  70000.0
3    David   40      Houston  80000.0
4      Eve   45      Phoenix  90000.0

删除缺失值后：
      Name  Age         City   Salary
0    Alice   26     New York  50000.0
1      Bob   30  Los Angeles  60000.0
2  Charlie   35      Chicago  70000.0
3    David   40      Houston  80000.0
4      Eve   45      Phoenix  90000.0

In [46]:
# 按某列排序
df = df.sort_values(by='Age', ascending=False)
print("\n按 'Age' 降序排序：")
print(df)

按 'Age' 降序排序：
      Name  Age         City   Salary
4      Eve   45      Phoenix  90000.0
3    David   40      Houston  80000.0
2  Charlie   35      Chicago  70000.0
1      Bob   30  Los Angeles  60000.0
0    Alice   26     New York  50000.0

In [47]:
# 按某列分组并计算平均值
grouped = df.groupby('City')['Salary'].mean()
print("\n按 'City' 分组并计算平均工资：")
print(grouped)

按 'City' 分组并计算平均工资：
City
Chicago        70000.0
Houston        80000.0
Los Angeles    60000.0
New York       50000.0
Phoenix        90000.0
Name: Salary, dtype: float64

In [48]:
# 创建两个 DataFrame
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df2 = pd.DataFrame({'Name': ['Charlie', 'David'], 'Age': [35, 40]})

# 横向合并（列合并）
df_merged = pd.concat([df1, df2], axis=1)
print("\n横向合并：")
print(df_merged)

# 纵向合并（行合并）
df_merged = pd.concat([df1, df2], axis=0)
print("\n纵向合并：")
print(df_merged)

横向合并：
    Name  Age     Name  Age
0  Alice   25  Charlie   35
1    Bob   30    David   40

纵向合并：
      Name  Age
0    Alice   25
1      Bob   30
0  Charlie   35
1    David   40

In [49]:
# 保存修改后的 DataFrame
df.to_csv('employees_modified.csv', index=False)
print("\n修改后的 DataFrame 已保存为 employees_modified.csv")

修改后的 DataFrame 已保存为 employees_modified.csv